*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(247, 188, 246);
    color: rgb(32, 42, 42);
    width: 100vw;
  }

  input{
    box-sizing: border-box;
    text-align: start;
    color: black;
    text-shadow: 3px 4px 7px black;

  }


  #names{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    box-sizing: border-box;
    box-shadow: -5px 13px 3px 17px black;
    
  }

  li{
    box-shadow: 2px -2px 5px 5px black;
  }

  li:hover{
    font-size: larger;
  }

  li h5:hover{
    font-size: larger;
  }



/*/Designing For Mobile*/

@media (max-width: 451px) and (min-width: 0px){
     body{
        background-color: rgb(237, 202, 148);
     }

     div{
        width: 100%;

     }

     #names{
        width: 100vw;
     }
     


}

/*Designing for the tablet*/

@media (max-width: 678px) and (min-width: 451px){
    div{
        width: 100%;

     }

     #names{
        width: 80vw;
     }
}